$width: 300px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #6ce7be, #6cdbeb);
    z-index: -2;
}

body {
    color: rgba(black, 0.8);
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

.glass {
    max-width: 1000px;
    width: 80%;
    min-height: 500px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    z-index: 1;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: rgba(black, 0.8);
    font-size: 2.5rem;
}

h2 {
    color: #28a6cc;
    font-size: 2rem;
}

p {
    padding-top: 10px;
    line-height: 20px;
}

.sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: rgba(white, 0.3);
    border-radius: 4px;
}

.sidebar a {
    color: #28a6cc;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.content {
    margin: 24px;
    flex: 3;
}

.form {
    width: 30%;
    min-width: 200px;
    height: $width/5;
    overflow: hidden;
    position: relative;
}

#field-label {
    position: absolute;
    top: $width/15;
    color: rgba(black, 0.5);
    font: 400 $width/15 Roboto;
    cursor: text;
    transition: .25s ease;
}

.field-input {
    display: block;
    width: 250px;
    padding-top: $width/15;
    border: none;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.9);
    background: rgba(255, 255, 255, 0.3);
    font-size: $width/15;
    transition: 0.3s ease;
    padding-left: 3px;

    &:focus {
        outline: none;

        ~#field-label {
            top: 1px;
            padding-left: 3px;
            font: 700 $width/25 Roboto;
            color: rgb(64, 224, 216);
        }

        ~.bar:before {
            transform: translateX(0);
        }
    }
}

.touched:required:valid {
    ~#field-label {
        top: 1px;
        padding-left: 3px;
        font: 700 $width/25 Roboto;
        color: rgba(black, .5);
    }
}

.touched:required:invalid {
    ~#field-label {
        top: 1px;
        padding-left: 3px;
        font: 700 $width/25 Roboto;
        color: rgba(red, .7);
    }

    ~.bar {
        background: rgba(red, 0.6);
    }
}

.bar {
    background: rgba(rgb(120, 120, 120), .6);
    content: '';
    width: 250px;
    height: 2px;
    transition: .3s ease;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 150%;
        background: linear-gradient(to right top, #6ce7be, #40cbe0);
        transform: translateX(-100%);

    }
}

::selection {
    background: rgba(#2aacd3, 0.5);
}

canvas {
    z-index: 5;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.link {
    transition: color 0.3s;
    position: absolute;
    line-height: 20px;
}

.link:hover,
.link:focus {
    color: rgb(29, 105, 219);
}

.link {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: rgb(0, 109, 218);
}

.link::after {
    content: "";
    background: rgba(68, 162, 255, 0.2);
    position: absolute;
    left: 12px;
    bottom: -2px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    z-index: -1;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}

.link:hover:after {
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid black;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgba(black, 0.7);
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    color: #000000;
    background-color: #6ce7d7;
    cursor: pointer;
}

@media screen and (min-width:600px) {
    #mobile {
        visibility: hidden;
        display: none;
    }

    #info {
        visibility: visible;
    }
}

@media screen and (max-width: 600px) {
    #mobile {
        visibility: visible;
        display: block;
    }

    #info {
        visibility: hidden;
    }
}

a.hover {
    cursor: pointer;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.5);
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.3);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

#hover tr:hover {
    background-color:rgba(255,255,255,0.3);
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}