$width: 300px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    z-index: -2;
}

body {
    color: rgba(black, 0.8);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.glass {
    max-width: 1000px;
    width: 80%;
    min-height: 500px;
    padding: 32px 24px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    z-index: 1;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.sidebar {
    flex: 1;
}

.content {
    flex: 4;
}

.form {
    width: 100%;
    height: $width/5;
    overflow: hidden;
    position: relative;
}

label {
    position: absolute;
    top: $width/15;
    color: rgba(black, 0.5);
    font: 400 $width/15 Roboto;
    cursor: text;
    transition: .25s ease;
}

input {
    display: block;
    width: 250px;
    padding-top: $width/15;
    border: none;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.9);
    background: rgba(255, 255, 255, 0.5);
    font-size: $width/15;
    transition: 0.3s ease;
    padding-left: 3px;

    &:valid {
        ~label {
            top: 1px;
            padding-left: 3px;
            font: 700 $width/25 Roboto;
            color: rgba(black, .5);
        }
    }

    &:focus {
        outline: none;

        ~label {
            top: 1px;
            padding-left: 3px;
            font: 700 $width/25 Roboto;
            color: rgb(64, 224, 216);
        }

        ~.bar:before {
            transform: translateX(0);
        }
    }
}

.bar {
    background: rgba(rgb(120, 120, 120), .6);
    content: '';
    width: 250px;
    height: 2px;
    transition: .3s ease;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 150%;
        background: linear-gradient(to right top, #53e0c6, #40cbe0);
        transform: translateX(-100%);

    }
}

::selection {
    background: rgba(#2aacd3, 0.5);
}